:root {
  // variables

  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-violet);

  @media only screen and (min-width: 1024px) {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.logo {
  width: 30%;
  margin: 2rem;

  @media only screen and (min-width: 1024px) {
    width: 18%;
  }
}

.wrapper {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    margin: 2rem;
  }
}

.mockups {
  width: 80%;
  height: 80%;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 50%;
    height: 50%;
  }
}
.text {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  & > * {
    margin-top: 1.5rem;
    text-align: center;
    color: white;
    opacity: 0.9;

    @media only screen and (min-width: 1024px) {
      text-align: left;
    }
  }
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.para {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.button {
  border: none;
  background-color: #fff;
  color: var(--clr-violet);
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0.8rem;
  width: 50%;
  margin: 2rem auto;
  transition: all 0.2s;

  &:hover {
    background-color: var(--clr-soft-magenta);
    transform: translateY(-1px) scale(1.03);
    color: white;
  }

  @media only screen and (min-width: 1024px) {
    text-align: center;
    margin: 2rem 0;
  }
}

.socials {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    margin-top: 20%;
  }

  &__icon {
    fill: white;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    transition: all 0.2s;

    &:hover {
      fill: var(--clr-soft-magenta);
      transform: scale(1.03);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  margin: 2rem 0;
}
.attribution a {
  color: var(--clr-violet);
  background-color: #fff;
  opacity: 0.8;
  border-radius: 20px;
  padding: 0 0.4rem;
}
