:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-violet);
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.logo {
  width: 30%;
  margin: 2rem;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 18%;
  }
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2rem;
  }
}

.mockups {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .mockups {
    width: 50%;
    height: 50%;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

.text > * {
  margin-top: 1.5rem;
  text-align: center;
  color: white;
  opacity: 0.9;
}

@media only screen and (min-width: 1024px) {
  .text > * {
    text-align: left;
  }
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.para {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.button {
  border: none;
  background-color: #fff;
  color: var(--clr-violet);
  font-size: .9rem;
  border-radius: 20px;
  padding: .8rem;
  width: 50%;
  margin: 2rem auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button:hover {
  background-color: var(--clr-soft-magenta);
  -webkit-transform: translateY(-1px) scale(1.03);
          transform: translateY(-1px) scale(1.03);
  color: white;
}

@media only screen and (min-width: 1024px) {
  .button {
    text-align: center;
    margin: 2rem 0;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fab {
  color: white;
  font-size: 1.5rem;
  margin: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.fab:hover {
  color: var(--clr-soft-magenta);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}

.attribution a {
  color: var(--clr-violet);
  background-color: #fff;
  opacity: 0.8;
  border-radius: 20px;
  padding: 0 .4rem;
}
